.a{height:180px;}
.c,.d,.e,.f{height: 50px;background-color: lightgray;}
.b{height:150px;font-family: 'The Nautigal', cursive;}
.g{height:60px;background-color:  rgb(48, 47, 47);}   
.h{height:400%;background-color: rgb(235, 234, 234);}
.i{border-top: 2px solid black;background-color: gray;} 
h1{font-size: 150px;font-weight: 600;padding-bottom: 10px;padding-left: 90px;}
