<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flower shop management</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

 

</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 a"><img src="assets/logo.jpg" alt="logo" style="height: 100%;width: 80%;"></div>
    <div class="col-sm-7 b"><link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap" rel="stylesheet"><h1 style="font-size: 150px;font-weight: 600;padding-bottom: 10px;padding-left: 90px;">Pet   Paradise</h1>
    </div>   
    <div class="col-sm-3 j">      <img src="assets/paw.png" alt="" >
    </div>  
    </div>
  <div class="row">
    <div class="col-sm-1 c"><app-menu></app-menu></div>
    <div class="col-sm-2 d"><app-location></app-location></div>
    <div class="col-sm-6 e"><app-search></app-search></div>
    <div class="col-sm-3 f"><app-login></app-login></div>
  </div>
  <div class="row">
    <div class="col-sm-12 g"><app-button></app-button></div>
    <div class="col-sm-12 h"><router-outlet></router-outlet></div>
    <div class="col-sm-12 i"><app-footer></app-footer> </div>
  </div>
</div>