.box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10px;padding-bottom: 10px;
}
.box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
}
.box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 20px;
    font-weight: 600;
    color:var(--pink);
    background:rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .5rem;
}
.box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 20px;
    overflow:hidden;
}
.box-container .box .image img{
    height:150px;
    width: 120px;
}
.box-container .box:hover .image img{
    transform: scale(1.1);
}
.box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}
.box-container .box:hover .image .icons{
    bottom:0;
}
.box-container .box .image .icons a{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    width:50%;
    background:var(--pink);
    color:#fff;
}
.box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}
.box-container .box .image .icons a:hover{
    background:#333;
}
.box-container .box .content{
    padding:20px;
    text-align: center;
}
.box-container .box .content h3{
    font-size:30px ;
    color:#333;
}
.box-container .box .content .price{
    font-size: 30px;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 10px;
}
.box-container .box .content .price span{
    font-size:15px ;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}
.row{padding: 20px;}
