<div class="menu-bar">
      
    <ul>
    
        <li><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list s4" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        
    
            <div class="dropdown-menu">
                <ul>
                   <li><a href="dogs">DOG</a></li>
                   <li><a href="cats">CAT</a></li>      
                   <li><a href="birds">BIRD</a></li> 
                   <li><a href="fishes">FISH</a></li>
                   <li><a href="other">OTHERS</a></li>
                   <li><a href="about">ABOUT US</a></li>
                   <li><a href="profile">ACCOUNT</a></li>
                </ul>
            </div>
        </li>
    
    </ul>
</div>