*{
    width: 100%;
}
h4{
    text-align: center;
}
.container-fluid{
    background-image: url('/assets/backi.jpg');
    background-size: cover;
}
#form{
    top: 0;
    float: right;
}
.card-body{
    width: 100%;
}
.col-4{
    width: 50%;
}
@media screen and (max-width: 762px){
   .card-body{
    width: 400px;
   }
   .col-4{
    width: 400px;
   }
}