<div class="box-container">
    <div class="row">
        <div class="col-sm-4">
            <div id="lab" style="padding-left: 40px;">
                <div class="box" style="width: 300px;">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <img src="assets/dog1.jpg" alt="">
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">add to cart</a>
                            <a href="#" class="fas fa-share"></a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Labrador</h3>
                        <div class="price">11.4K<span>12K</span> </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-sm-4">
            <div id="pom" style="padding-left: 80px;" >
                <div class="box" style="width: 300px;">
                    <span class="discount">-10%</span>
                    <div class="image">
                        <img src="assets/dog2.jpg" alt="" >
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">add to cart</a>
                            <a href="#" class="fas fa-share"></a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Pomeranian</h3>
                        <div class="price">22.5K  <span>25K</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="beg" style="padding-left:130px ;">
                <div class="box" style="width: 300px;">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="assets/dog3.jpg" alt="">
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">add to cart</a>
                            <a href="#" class="fas fa-share"></a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Beagle</h3>
                        <div class="price"> 15.3K <span>18K</span> </div>
                    </div>
                </div>
        
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div id="sh" style="padding-left: 40px;">
                <div class="box" style="width: 300px;">
                    <span class="discount">-2%</span>
                    <div class="image">
                        <img src="assets/dog4.jpg" alt="">
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">add to cart</a>
                            <a href="#" class="fas fa-share"></a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Shampoo</h3>
                        <div class="price"> 1.96K <span>2K</span> </div>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="col-sm-4">
            <div id="toy" style="padding-left: 80px;">
                <div class="box" style="width: 300px;">
                    <span class="discount">-3%</span>
                    <div class="image">
                        <img src="assets/dog5.jpg" alt="">
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">add to cart</a>
                            <a href="#" class="fas fa-share"></a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Toys</h3>
                        <div class="price">1.91K  <span>3K</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="food" style="padding-left:130px ;">
                <div class="box" style="width: 300px;">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <img src="assets/dog6.jpg" alt="">
                        <div class="icons">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="cart-btn">add to cart</a>
                            <a href="#" class="fas fa-share"></a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Food</h3>
                        <div class="price"> 4.75K <span>5K</span> </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>