<div class="container-fluid" style="text-align:center ;">
    <div class="row mt-5">
        <div class="col"></div>
     <div class="col-4">
        <div class="card shadow" >
            <div class="card-body" style="text-align:center ;">
                <form action="" style="text-align:center ;">
                    <div class="mb-3">
                        <h4 class="text danger text-muted">WELCOME</h4>
                    </div>
                    <div class="mb-3" >
                        <p class="text-muted">link has send on your registered email. please verify it.</p>
                    </div>
                </form>
            </div>
        </div>
     </div>
    </div>
</div>