
    <div class="box-container">
        <div class="row">
            <div class="col-sm-4">
                <div id="lab" style="padding-left: 40px;">
                    <div class="box" style="width: 300px;">
                        <span class="discount">0%</span>
                        <div class="image">
                            <img src="assets/fish1.jpg" alt="">
                            <div class="icons">
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="cart-btn">add to cart</a>
                                <a href="#" class="fas fa-share"></a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Fantail Goldfish</h3>
                            <div class="price">1.9K<span></span> </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-sm-4">
                <div id="pom" style="padding-left: 80px;">
                    <div class="box" style="width: 300px;">
                        <span class="discount">0%</span>
                        <div class="image">
                            <img src="assets/fish2.jpg" alt="">
                            <div class="icons">
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="cart-btn">add to cart</a>
                                <a href="#" class="fas fa-share"></a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>corydoras Catfish</h3>
                            <div class="price">4K  <span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="beg" style="padding-left:130px ;">
                    <div class="box" style="width: 300px;">
                        <span class="discount">0%</span>
                        <div class="image">
                            <img src="assets/fish3.jpg" alt="">
                            <div class="icons">
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="cart-btn">add to cart</a>
                                <a href="#" class="fas fa-share"></a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Betta</h3>
                            <div class="price"> 8K <span></span> </div>
                        </div>
                    </div>
            
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div id="sh" style="padding-left: 40px;">
                    <div class="box" style="width: 300px;">
                        <span class="discount">0%</span>
                        <div class="image">
                            <img src="assets/fish6.jpg" alt="">
                            <div class="icons">
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="cart-btn">add to cart</a>
                                <a href="#" class="fas fa-share"></a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Guppy</h3>
                            <div class="price"> 0.25K <span></span> </div>
                        </div>
                    </div>
            
                </div>
            </div>
            <div class="col-sm-4">
                <div id="toy" style="padding-left: 80px;">
                    <div class="box" style="width: 300px;">
                        <span class="discount">0%</span>
                        <div class="image">
                            <img src="assets/fish4.jpg" alt="">
                            <div class="icons">
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="cart-btn">add to cart</a>
                                <a href="#" class="fas fa-share"></a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Food</h3>
                            <div class="price">0.9K  <span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="food" style="padding-left:130px ;">
                    <div class="box" style="width: 300px;">
                        <span class="discount">-2%</span>
                        <div class="image">
                            <img src="assets/fish5.jpg" alt="">
                            <div class="icons">
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="cart-btn">add to cart</a>
                                <a href="#" class="fas fa-share"></a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Aquariam</h3>
                            <div class="price"> 4.75K <span>5K</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
