<div class="container-fluid">
    <div class="col">
       <div class="col-4">
        <div class="card shadow">
            <div class="card-body">
                <form id="form">
                    <div class="mb-3">
                        <h4 class="text-dark text-muted">LOGIN</h4>
                        <hr>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputName" class="form-label">UserName</label>
                      <input type="text" class="form-control" name="username" [(ngModel)]="username">
                  </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="email">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="password">
                    </div>
                   
                    <button type="button" class="btn btn-info" (click)="login1()">login</button>
                  <div class="col-6">
                    <a href="register" style="text-decoration: none;">need an account?<span class="text-danger">Register</span></a>
                  </div> 
                  <div class="col-md-6">
                    <a href="forgot-pass"> forgot password?</a>
                  </div> 
                 
                </form>
            </div>
        </div>
       </div>
    </div>
    
</div>