
    <div class="box-container">
        <div class="row a">
           <div class="col-sm-4">
              <div id="lab" style="padding-left: 40px;">
                  <div class="box">
                      <span class="discount">-2%</span>
                      <div class="image">
                          <img src="assets/ham1.jpg" alt="">
                          <div class="icons">
                              <a href="#" class="fas fa-heart"></a>
                              <a href="#" class="cart-btn">add to cart</a>
                              <a href="#" class="fas fa-share"></a>
                          </div>
                      </div>
                      <div class="content">
                          <h3>Hamster</h3>
                          <div class="price">2.94K<span>3K</span> </div>
                      </div>  
                    </div>
                </div>
            </div>
           <div class="col-sm-4">
              <div id="pom" style="padding-left: 80px;">
                  <div class="box">
                      <span class="discount">0%</span>
                      <div class="image">
                          <img src="assets/ham2.jpg" alt="">
                          <div class="icons">
                              <a href="#" class="fas fa-heart"></a>
                              <a href="#" class="cart-btn">add to cart</a>
                              <a href="#" class="fas fa-share"></a>
                          </div>
                      </div>
                      <div class="content">
                          <h3>Hamster Cage</h3>
                          <div class="price">2K  <span></span> </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div id="beg" style="padding-left:120px ;">
                    <div class="box">
                        <span class="discount">0%</span>
                        <div class="image">
                            <img src="assets/ham3.jpg" alt="">
                            <div class="icons">
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="cart-btn">add to cart</a>
                                <a href="#" class="fas fa-share"></a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Hamster Food</h3>
                            <div class="price"> 0.8K <span></span> </div>
                        </div>
                    </div>
            
                </div>
            </div>
            <div class="row"  style="padding-top: 20px;">
                <div class="col-sm-4">
                    <div id="sh" style="padding-left: 40px;">
                        <div class="box">
                            <span class="discount">0%</span>
                            <div class="image">
                                <img src="assets/rab1.jpg" alt="">
                                <div class="icons">
                                    <a href="#" class="fas fa-heart"></a>
                                    <a href="#" class="cart-btn">add to cart</a>
                                    <a href="#" class="fas fa-share"></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Rabbit</h3>
                                <div class="price"> 1K <span></span> </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="toy" style="padding-left: 80px;">
                        <div class="box">
                            <span class="discount">0%</span>
                            <div class="image">
                                <img src="assets/rab2.jpg" alt="">
                                <div class="icons">
                                    <a href="#" class="fas fa-heart"></a>
                                    <a href="#" class="cart-btn">add to cart</a>
                                    <a href="#" class="fas fa-share"></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Rabbit Cage</h3>
                                <div class="price">2K  <span></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="food" style="padding-left:120px ;">
                        <div class="box">
                            <span class="discount">0%</span>
                            <div class="image">
                                <img src="assets/rab3.jpg" alt="">
                                <div class="icons">
                                    <a href="#" class="fas fa-heart"></a>
                                    <a href="#" class="cart-btn">add to cart</a>
                                    <a href="#" class="fas fa-share"></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Rabbit Food</h3>
                                <div class="price"> 0.5K <span></span> </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
