<div class="blue">
    <img src="/assets/pic.jpg" alt="">
</div>
<div class="red">
    <p>
        We are a family-owned dog training and supplies company dedicated to providing and supplying dog items like Tre Ponti Dog Harnesses, Cricket Dog Treats, Doggie Chicken Chips, and DogSheetz just to name a few. We have been in the business of providing quality pet products ever since we started back in 2013. Being in the business for several years now, we are proud to say that we are a company known to grant high-quality pet products as well as pet-training services.
    </p>
    <p>
        If you are looking for quality pet products, then you are looking at the right direction for we are the company that will always be there to cater all your pet needs. We are the company that you can trust for your pet's needs. We promise to deliver you the kind of service that you and your pet truly deserve.
    </p>
</div>